.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 20px;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;

}

.navParent {
  min-width: 100%;
  top: 0;
  position: fixed;
  background-color: #fff;
  z-index: 9;
}

.navContainer a {
  color: #2D0C03;
  text-decoration: none;
  line-height: 19px;
}

.logo a {
  color: #2D0C03;
  font-weight: 700;
}

.logo a span {
  font-weight: normal;
}

.links {
  display: flex;
}

.links a {
  padding: 0 10px;
  color: #2D0C03;
}

.navBtn {
  display: flex;
  align-items: center;
}

.navBtn span {
  padding-right: 20px;
}
/* .toggle{
  display: none;
}

.close{
  display: none;
} */

@media screen and (max-width: 980px) {
  /* .toggle{
    display: block;
  }
  .close{
    display: none;
  }

  .hideBtn, .hideLinks{
    display: none;
  } */
}
