.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 20px;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}

.navParent {
  min-width: 100%;
  top: 0;
  position: fixed;
  background-color: #fff;
  z-index: 9;
}

.navContainer a {
  color: #2d0c03;
  text-decoration: none;
  line-height: 19px;
}

.logo a {
  color: #2d0c03;
  font-weight: 700;
}

.logo a span {
  font-weight: normal;
}

.links {
  display: flex;
}

.links a {
  padding: 0 10px;
  color: #2d0c03;
}

.navBtn {
  display: flex;
  align-items: center;
}

.navBtn span {
  padding-right: 20px;
}

.navContentsMobile {
  display: none;
}
.toggle {
  display: none;
}

.toggleClose {
  display: none;
}

@media screen and (max-width: 980px) {
  .toggle {
    display: block;
    font-size: 20px;
    color: #e04114;
  }

  .toggleClose {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    font-size: 30px;
  }

  .navContentsWeb {
    display: none;
  }

  .navContentsMobile {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    z-index: 1;
  }

  .navContentsMobile .links,
  .navContentsMobile .navBtn {
    display: block;
    text-align: center;
  }

  .links div,
  .navBtn div {
    padding: 15px;
  }

  .navBtn {
    padding-top: 50px;
  }
}
