.signContainer {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  max-width: 700px;
  margin: auto;
  padding-top: 30px;
}

.signUp {
  margin: auto;
  /* box-shadow: 0px 35px 60px rgba(85, 42, 4, 0.08); */
  width: 100%;
  align-items: center;
}

.signTitle {
  text-align: center;
  padding-bottom: 20px;
}

.signTitle h3 {
  font-size: 20px;
  line-height: 39px;
  font-weight: 600;
  color: #0e3262;
}

.signTitle p {
  line-height: 180%;
  font-size: 14px;
  color: #9b9b9b;
}

label {
  color: #755f5f;
  line-height: 180%;
  font-size: 14px;
}

::placeholder {
  color: rgba(79, 79, 79, 0.7);
  line-height: 180%;
  font-size: 14px;
}

input {
  border: 0.3px solid #bbbaba;
  border-radius: 8px;
  outline: none;
  padding: 10px 10px 10px 60px;
  width: 100%;
  /* outline-color: #1976d2; */
}

form {
  padding: 0 30px 20px 30px;
}

.input {
  position: relative;
}

.userIcon {
  position: absolute;
  top: 10px;
  font-size: 14px;
  left: 25px;
  color: rgba(47, 128, 237, 0.5);
}

.eye {
  left: auto;
  right: 20px;
}

.formInner {
  padding-top: 20px;
}

.submitBtn input {
  background: #d04d2a;
  padding: 3px;
  color: #fff;
  border: 10px solid transparent;
}

.loginRedirectTitle {
  text-align: center;
  padding: 10px 5px;
}

.loginRedirectTitle p {
  font-size: 14px;
  line-height: 19px;
  color: #756f6f;
  padding-bottom: 5px;
  font-weight: 500;
}

.loginRedirectTitle a {
  color: #d04d2a;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}

.social {
  display: flex;
}

.socialContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.socialInner {
  /* padding: 10px; */
  margin: 5px;
  display: flex;
  /* border-radius: 8px; */
}

.socialInnerRed {
  border: 1px solid #ff0000;
  background-color: #db4437;
}

.socialImgRed {
  border-right: 1px solid #db4437;
}

.socialInnerBlue {
  background-color: #2c4b75;
  border: 1px solid #2c4b75;
}

.socialImgBlue {
  border-right: 1px solid #2c4b75;
}

.socialInnerEmail {
  border: 1px solid #333333;
}

.socialImgEmail {
  border-right: 1px solid #333333;
}

.socialImg {
  padding: 7px 10px;
  background-color: #fff;
}

.socialLink {
  padding: 7px 7px 7px 15px;
}

.socialLink a p {
  color: #fff;
}
.socialLinkEmail a p {
  color: #333333;
}

.social span,
.social img {
  padding-right: 10px;
}
.social p {
  color: #d04d2a;
}

.socialInner a {
  text-decoration: none;
}

.fab {
  font-size: 20px;
  color: #2c4b75;
}

.signUpForm {
  margin: auto 50px;
}

.loginForm {
  padding: 20px 10px 30px 10px;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.or p {
  font-size: 14px;
  padding: 0 15px;
  color: #c4c4c4;
}

.line {
  height: 1px;
  width: 165px;
  background-color: #c4c4c4;
}

/* sign styling */
.signOnlyContainer {
  margin: auto;
  padding: 15px;
}
.signOnlyContainer .socialInner {
  width: 250px;
  align-items: center;
  margin: 10px auto;
}

.socialInner .email img {
  width: 20px;
}

.signOnlyContainer .or .line {
  width: 100px;
}

.hideForm,
.hideSignOnly {
  display: none;
}

.showForm {
  display: block;
}

.forgotPwd a {
  color: #d04d2a;
  float: right;
  font-size: 14px;
}

@media screen and (max-width: 980px) {
  .signContainer {
    display: block;
  }
  .loginImage img {
    display: none;
  }

  .signUp {
    align-items: center;
  }

  .signUpForm {
    margin: auto;
    max-width: 500px;
  }

  .social p {
    font-size: 12px;
  }

  .line {
    width: 120px;
  }

  .signTitle {
    padding-bottom: 10px;
  }

  /* sign style */

  .signOnlyContainer .socialInner {
    width: 250px;
  }

  .signOnlyContainer .or .line {
    width: 70px;
  }
}

@media screen and (max-width: 680px) {
  .signUpForm {
    width: 100%;
  }

  .signUp {
    width: 100%;
  }

  .signTitle {
    padding-bottom: 7px;
  }
}

@media screen and (max-width: 480px) {
  .socialContainer {
    display: block;
    padding: 10px;
  }

  .signUp {
    max-width: 300px;
    margin: auto;
  }

  .socialInner {
    max-width: 220px;
    margin: 5px auto;
  }
}
